.log-in, .log-up {
  .log-in-inner, .log-up-inner {
    box-sizing: border-box;
    padding: 3rem;
    background-color: #5b3c6c;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin-bottom: 7rem;
    border-radius: 15px;

    @media(max-width: 768px) {
      padding: 2rem;
    }

    input, button {
      margin: 0.5rem 0;
      height: 3.5rem;
      font-size: calc(7px + 2vmin);

      @media(max-width: 768px) {
        font-size: unset;
      }
    }

    input {
      outline: none;
      padding-left: 1rem;
    }

    p {
      margin: 0.5rem 0 0;
      font-size: calc(3px + 2vmin);

      a {
        color: #4db8e1;
        text-decoration: none;
      }
    }

    button {
      border: 3px solid white;
      outline: none;
      background-color: transparent;
      color: white;
      cursor: pointer;
      transition: all 0.25s ease-in-out;

      &:hover {
        background-color: #3c1f4d;
      }
    }
  }
}