.matches {
  &-wrapper {
    margin-bottom: 7rem;
  }

  &-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    background-color: #5b3c6c;
    border-radius: 15px;
    padding: 2% 4%;
    transition: box-shadow 0.25s ease-in-out;

  &:hover {
    box-shadow: rgb(60, 31, 77) 0 5px 15px;
  }
  }

  &-count {
    font-size: 62px;

    @media(max-width: 768px) {
      font-size: 42px;
    }
  }

  figure {
    width: 10rem;
    margin: unset;
    padding: 2%;
  }

  &-inner {
    display: flex;
    flex-direction: column;
    margin: 0 3%;
  }

  &-stadium {
    margin: 0 0 1rem;
  }

  &-date {
    @media(max-width: 768px) {
      font-size: calc(7px + 2vmin);
    }
  }

  &-logo {
    width: 7rem;
    height: 7rem;

    @media(max-width: 768px) {
      width: 5rem;
      height: 5rem;
    }

    @media(max-width: 480px) {
      width: 3rem;
      height: 3rem;
    }
  }
}