h2 {
  text-transform: uppercase;
}

td, th {
  border: 1px solid #000000;
}

.players {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background-color: #5c436b;
  box-shadow: rgba(0, 0, 0, 0.56) 0 22px 70px 4px;
  margin-bottom: 7rem;
}

tr th:first-child {
  width: 7%;
}

td {
  height: 3rem;
  padding: 0.5rem;

  @media(max-width: 768px) {
    font-size: calc(5px + 2vmin);
  }
}

tr th {
  width: 25%;
  height: 3rem;
}