.teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;

  @media(max-width: 768px) {
    justify-content: center;
  }

  figure {
    padding: 2rem;
    transition: all 250ms ease-in-out;
    border-radius: 10px;
    width: 170px;
    position: relative;

    @media(max-width: 1024px) {
      background-color: #5b3c6c;
    }
  }

  .link {
    margin: 0;
    text-decoration: none;
    color: unset;
    font-size: inherit;
  }

  figcaption {
    @media(max-width: 768px) {
      font-size: 1.5rem;
    }
  }

  figure:hover {
    box-shadow: rgb(60, 31, 77) 0 5px 15px;
    background-color: #5b3c6c;
    transition: all 250ms ease-in-out;
  }
}