.info {
  &_wrapper {
    margin-bottom: 7rem;
  }

  &_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
    background-color: #5b3c6c;
    padding: 1rem;
    border-radius: 15px;

    @media(max-width: 990px) {
    gap: unset;
    }
  }

  &_logo {
    width: 10rem;
    height: 10rem;
    animation: rotation 5s infinite linear;

    @media(max-width: 768px) {
      width: 8rem;
      height: 8rem;
    }

    @media(max-width: 420px) {
      width: 6rem;
      height: 6rem;
    }
  }

  &_inner {
    max-width: 15rem;
    @media(max-width: 768px) {
      margin: unset;
    }
  }

  &_name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(32px + 2vmin);

    @media(max-width: 768px) {
      font-size: calc(12px + 2vmin);
    }
  }

  &_goal {
    font-size: calc(62px + 2vmin);
    margin: 0 0.5rem;

    @media(max-width: 768px) {
      font-size: calc(42px + 2vmin);
    }
  }

  &_city {
    font-size: calc(16px + 2vmin);

    @media(max-width: 768px) {
      font-size: unset;
    }
  }

  &_vs {
    margin: 1rem;
    font-size: calc(42px + 2vmin);

    @media(max-width: 768px) {
      font-size: calc(12px + 2vmin);
    }
  }

  &_time {
    padding: 0.5rem;
    max-width: 30%;
    text-align: center;
    margin: 2rem auto;
    border: 1px solid white;
    border-radius: 15px;
    background-color: #5b3c6c;
    box-shadow: rgb(60, 31, 77) 0 5px 15px;

    @media(max-width: 768px) {
      max-width: 100%;
    }
  }

  &_events {
    background-color: #5b3c6c;
    padding: 1rem;
    border-radius: 15px;
    background-image: url("../icons/ball.svg");
    background-size: 8rem 8rem;
    background-repeat: no-repeat;
    background-position: right 1rem bottom 1rem;

    @media(max-width: 768px) {
      background-size: 4rem 4rem;
    }

    @media(max-width: 517px) {
      background-image: unset;
    }

  }

  &_description {
    margin: 1rem 0;
  }

  h5 {
    margin: 2rem 0;
    font: unset;

    @media(max-width: 768px) {
      margin: 0.5rem 0;
    }
  }
}