.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;

  @media(max-width: 768px) {
    flex-direction: column;
  }

  .logo {
    width: 75px;
    height: 75px;
  }

  li {
    list-style: none;

    @media(max-width: 768px) {
      padding: 2% 0;
    }

    a {
      text-decoration: none;
      transition: all 0.25s ease-in-out;

      @media(max-width: 768px) {
        font-size: 1.5rem;
      }
    }

    a:hover {
      color: #ffffff;
      transition: all 0.25s ease-in-out;
      font-size: calc(13px + 2vmin);
    }
  }
}
