.wrapper-bg {
  background-color: #cecbc1;
  min-height: 100vh;
}

.wrapper {
  text-align: center;
  min-height: 90vh;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #cecbc1;
  max-width: 1440px;
  min-width: 320px;
  color: white;
  font-size: calc(10px + 2vmin);
  user-select: none;
}

